/* stylelint-disable selector-list-comma-newline-after */
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
a{
  color:#b30077;
}
a:hover {
  color:#f200a1;
}
.btn:hover{
  background-color:#b30077;
}
.btn{
  color:#b30077;
}
.background-jumbotron-cust
{
    background-image: linear-gradient(125deg,#92b08b, rgba(0,0,0,0));

    background-color: rgba(0,0,0,0);
}
.background-cust
{
    background-image: url("LogoHorizontal.png");
    background-repeat: no-repeat;
    background-color: purple;
    background-size: cover;
}
.post-custom{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: .4rem;
  padding-top: 2.5rem;
  background-color:#92b08b;
}
.background-about{
  background-color:#92b08b;
}
.thumbnail-img-cust
{
  object-fit: cover;
}
.text-custom{
  color: #35651c;
  border-color: #35651c;
}
.text-custom-dark{
  color:#330100;
}
.border-bottom-custom
{
  border-bottom: .05rem solid #35651c;
}
.blog-header {
  line-height: 1;
  border-bottom: 1px solid #35651c;
}
.border-custom {
  border: .05rem solid #35651c;
}
.blog-header-logo-image
{
  height:5rem;
}
.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Old Standard TT',"Playfair Display", Georgia, "Times New Roman", serif;
}
p,ol,a
{
  font-family: 'Oswald', sans-serif;
}
.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-right: 4rem;
  margin-left:auto;
  margin-right:auto;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.nav{
  max-width: 50%;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
  border-color: #35651c;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
  border-color: #35651c;
}
/*
* Blog Body background
*/
body{
  background-color: black;
}
/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
  color:#35651c;
  border-color: #35651c;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
  color:#35651c;
  border-color: #35651c;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  border-color: #35651c;
  color:#35651c;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #35651c;;
  text-align: center;
  background-color: black;
  border-top: .05rem solid #35651c;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
